.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 564px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 492px;
  height: auto;
  width: 1077px;
  margin: 43px auto 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    width: 782px;
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    width: 720px;
    margin-right: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-right: 250px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-right: 350px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}@mixin center-v () {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
}
body {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
  
  span {
    display: block;
    font-size: 1rem;
  }
  &--primary {
    @include center-v;
    right: 20px;
    background: green;
  }
  
  &--secondary {
    @include center-v;
    left: 20px;
    background: red;
  }
} 