.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 961px;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  width: 1054px;
  height: 548px;
  margin: 80px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 773px;
  min-height: 239px;
  margin: 14px 0 80px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 20px 0 0 20px;
}

.u-section-1 .u-image-2 {
  width: 568px;
  height: 565px;
  margin: -683px auto 118px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-1 .u-image-1 {
    width: 869px;
    margin-top: 77px;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    width: 637px;
    margin-top: 16px;
    margin-bottom: 57px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    font-size: 3rem;
    margin-left: 16px;
  }

  .u-section-1 .u-image-2 {
    height: 441px;
    width: 468px;
    margin-top: -521px;
    margin-bottom: 80px;
    margin-left: calc(((100% - 940px) / 2) + -63px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 665px;
  }

  .u-section-1 .u-group-1 {
    width: 488px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2) + -40px);
    width: 359px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 457px;
    margin-top: 57px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
  }

  .u-section-1 .u-image-2 {
    height: 343px;
    width: 271px;
    margin-top: -640px;
    margin-bottom: 297px;
    margin-left: calc(((100% - 540px) / 2) + -29px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 340px) / 2) + -31px);
    width: 282px;
  }
}