.u-section-4-1 {
  background-image: none;
}

.u-section-4-1 .u-sheet-1 {
  min-height: 625px;
}

.u-section-4-1 .u-group-1 {
  width: 570px;
  min-height: 174px;
  margin: 40px auto 0 0;
}

.u-section-4-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4-1 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-4-1 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-4-1 .u-image-1 {
  width: 205px;
  height: 155px;
  margin: -165px 0 0 auto;
}

.u-section-4-1 .u-layout-wrap-1 {
  margin: 41px auto 60px 0;
}

.u-section-4-1 .u-image-2 {
  min-height: 330px;
  background-image: url("images/pexelsphoto1005456.jpeg");
  background-position: 50% 50%;
}

.u-section-4-1 .u-image-3 {
  min-height: 330px;
  background-image: url("images/pexelsphoto1533720.jpeg");
  background-position: 50% 50%;
}

.u-section-4-1 .u-image-4 {
  min-height: 330px;
  background-image: url("images/pexelsphoto1556796.jpeg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-4-1 .u-group-1 {
    width: 470px;
  }

  .u-section-4-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4-1 .u-text-1 {
    margin-top: 15px;
    margin-bottom: 0;
    position: relative;
  }

  .u-section-4-1 .u-text-2 {
    margin-top: 10px;
    margin-bottom: 15px;
    position: relative;
  }

  .u-section-4-1 .u-image-1 {
    width: 169px;
  }

  .u-section-4-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4-1 .u-image-4 {
    min-height: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-group-1 {
    width: 360px;
  }

  .u-section-4-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4-1 .u-image-1 {
    width: 129px;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-group-1 {
    width: 338px;
  }

  .u-section-4-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4-1 .u-image-1 {
    width: 121px;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-group-1 {
    width: 283px;
  }

  .u-section-4-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4-1 .u-image-1 {
    width: 102px;
  }
}.u-section-4-2 {
  background-image: none;
}

.u-section-4-2 .u-sheet-1 {
  min-height: 618px;
}

.u-section-4-2 .u-layout-wrap-1 {
  margin: 97px auto 97px 0;
}

.u-section-4-2 .u-image-1 {
  min-height: 330px;
  background-image: url("images/pexelsphoto1549180.jpeg");
  background-position: 50% 50%;
}

.u-section-4-2 .u-container-layout-1 {
  margin: 15px 0 0;
}

.u-section-4-2 .u-image-2 {
  min-height: 330px;
  background-image: url("images/pexelsphoto111085.jpeg");
  background-position: 50% 50%;
}

.u-section-4-2 .u-container-layout-2 {
  margin: 12px 0 21px;
}

.u-section-4-2 .u-image-3 {
  min-height: 330px;
  background-image: url("images/pexelsphoto933137.jpeg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-4-2 .u-layout-wrap-1 {
    min-height: 150px;
    margin-top: 11px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4-2 .u-image-2 {
    min-height: 0;
    margin: 10px 0 15px;
  }

  .u-section-4-2 .u-image-3 {
    min-height: 256px;
  }
}.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 961px;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  width: 1054px;
  height: 548px;
  margin: 80px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 773px;
  min-height: 239px;
  margin: 14px 0 80px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 20px 0 0 20px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 20px 0 22px auto;
}

.u-section-1 .u-image-2 {
  width: 568px;
  height: 565px;
  margin: -683px auto 118px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-1 .u-image-1 {
    width: 869px;
    margin-top: 77px;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    width: 637px;
    margin-top: 16px;
    margin-bottom: 57px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    font-size: 3rem;
    margin-left: 16px;
  }

  .u-section-1 .u-image-2 {
    height: 441px;
    width: 468px;
    margin-top: -521px;
    margin-bottom: 80px;
    margin-left: calc(((100% - 940px) / 2) + -63px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 665px;
  }

  .u-section-1 .u-group-1 {
    width: 488px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2) + -40px);
    width: 359px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 457px;
    margin-top: 57px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
  }

  .u-section-1 .u-image-2 {
    height: 343px;
    width: 271px;
    margin-top: -640px;
    margin-bottom: 297px;
    margin-left: calc(((100% - 540px) / 2) + -29px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 340px) / 2) + -31px);
    width: 282px;
  }
}.u-section-2 {
  background-image: linear-gradient(#f2f2f2, #d0d0d0);
}

.u-section-2 .u-sheet-1 {
  min-height: 665px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: -78px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 703px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-image-1 {
  width: 185px;
  height: 550px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: 26px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 20px 0 10px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 703px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-image-2 {
  width: 185px;
  height: 550px;
  margin: 12px -6px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 27px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 0 10px;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 703px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 14px;
  padding-right: 27px;
}

.u-section-2 .u-image-3 {
  width: 185px;
  height: 550px;
  margin: 14px auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  margin: 20px 0 10px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 703px;
}

.u-section-2 .u-container-layout-4 {
  padding-right: 20px;
}

.u-section-2 .u-text-7 {
  margin: 187px 0 0 115px;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0 20px;
}

.u-section-2 .u-image-4 {
  width: 171px;
  height: 154px;
  margin: 27px auto 0 111px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: -141px 0 188px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 728px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-image-1 {
    width: 153px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 728px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-image-2 {
    width: 153px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 728px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 11px;
    padding-right: 22px;
  }

  .u-section-2 .u-image-3 {
    width: 153px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 728px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 16px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 95px;
  }

  .u-section-2 .u-text-8 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-2 .u-image-4 {
    width: 141px;
    margin-top: 63px;
    margin-left: 85px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -177px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -66px;
    margin-bottom: 64px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 531px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-image-1 {
    width: 131px;
    height: 429px;
    margin-top: 4px;
    margin-right: 90px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 531px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-image-2 {
    width: 117px;
    height: 429px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 26px;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 539px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 17px;
  }

  .u-section-2 .u-image-3 {
    width: 117px;
    height: 432px;
    margin-top: 6px;
    margin-left: 108px;
  }

  .u-section-2 .u-text-6 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 539px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 13px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 30px;
    margin-left: 73px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 13px;
  }

  .u-section-2 .u-image-4 {
    width: 108px;
    margin-left: 70px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 146px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1951px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 338px;
    margin: -77px auto 60px 101px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 497px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 110px;
    height: 351px;
    margin-top: 23px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 40px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 497px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 110px;
    height: 380px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 30px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 500px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-3 {
    width: 110px;
    height: 370px;
    margin-top: 22px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 494px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 9px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 3px;
    margin-left: 54px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 9px;
  }

  .u-section-2 .u-image-4 {
    width: 196px;
    margin-left: 53px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 111px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    margin: 17px 0 40px auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 479px;
  }

  .u-section-2 .u-image-1 {
    width: 92px;
    height: 300px;
    margin-top: 55px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 479px;
  }

  .u-section-2 .u-image-2 {
    width: 92px;
    height: 327px;
    margin-top: 39px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 481px;
  }

  .u-section-2 .u-image-3 {
    width: 92px;
    height: 312px;
    margin-top: 62px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 476px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 6px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 34px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 6px;
  }

  .u-section-2 .u-image-4 {
    width: 173px;
    margin-left: 33px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 119px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 637px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 75px auto 51px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 134px;
}

.u-section-3 .u-image-1 {
  height: 98px;
  width: 232px;
  margin: 8px auto;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 134px;
}

.u-section-3 .u-image-2 {
  height: 98px;
  width: 217px;
  margin: 8px auto;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 134px;
}

.u-section-3 .u-image-3 {
  height: 98px;
  width: 232px;
  margin: 8px auto;
}

.u-section-3 .u-layout-cell-4 {
  background-image: none;
  min-height: 134px;
}

.u-section-3 .u-image-4 {
  height: 98px;
  width: 217px;
  margin: 8px auto;
}

.u-section-3 .u-layout-cell-5 {
  background-image: none;
  min-height: 134px;
}

.u-section-3 .u-image-5 {
  height: 98px;
  width: 232px;
  margin: 8px auto;
}

.u-section-3 .u-layout-cell-6 {
  background-image: none;
  min-height: 134px;
}

.u-section-3 .u-image-6 {
  height: 98px;
  width: 217px;
  margin: 8px auto;
}

.u-section-3 .u-layout-cell-7 {
  background-image: none;
  min-height: 128px;
}

.u-section-3 .u-image-7 {
  height: 87px;
  width: 232px;
  margin: 11px auto;
}

.u-section-3 .u-layout-cell-8 {
  background-image: none;
  min-height: 128px;
}

.u-section-3 .u-image-8 {
  height: 54px;
  width: 217px;
  margin: 27px auto;
}

.u-section-3 .u-layout-cell-9 {
  min-height: 530px;
}

.u-section-3 .u-container-layout-9 {
  padding-left: 20px;
}

.u-section-3 .u-image-9 {
  width: 559px;
  height: 147px;
  margin: 0 auto 0 -19px;
}

.u-section-3 .u-text-1 {
  margin: 20px 147px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 98px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  margin: 50px auto 50px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    z-index: 0;
  }

  .u-section-3 .u-image-1 {
    width: 191px;
  }

  .u-section-3 .u-layout-cell-2 {
    z-index: 1;
  }

  .u-section-3 .u-image-2 {
    width: 179px;
  }

  .u-section-3 .u-layout-cell-3 {
    z-index: 2;
  }

  .u-section-3 .u-image-3 {
    width: 191px;
  }

  .u-section-3 .u-layout-cell-4 {
    z-index: 3;
  }

  .u-section-3 .u-image-4 {
    width: 179px;
  }

  .u-section-3 .u-layout-cell-5 {
    z-index: 4;
  }

  .u-section-3 .u-image-5 {
    width: 191px;
  }

  .u-section-3 .u-layout-cell-6 {
    z-index: 5;
  }

  .u-section-3 .u-image-6 {
    width: 179px;
  }

  .u-section-3 .u-layout-cell-7 {
    z-index: 6;
  }

  .u-section-3 .u-image-7 {
    width: 191px;
  }

  .u-section-3 .u-layout-cell-8 {
    z-index: 7;
  }

  .u-section-3 .u-image-8 {
    width: 179px;
  }

  .u-section-3 .u-layout-cell-9 {
    z-index: 9;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 16px;
  }

  .u-section-3 .u-image-9 {
    width: 461px;
    height: 199px;
    margin-top: -52px;
    margin-left: -16px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 121px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 81px;
  }

  .u-section-3 .u-btn-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    width: 147px;
  }

  .u-section-3 .u-image-2 {
    width: 137px;
  }

  .u-section-3 .u-image-3 {
    width: 147px;
  }

  .u-section-3 .u-image-4 {
    width: 137px;
  }

  .u-section-3 .u-image-5 {
    width: 147px;
  }

  .u-section-3 .u-image-6 {
    width: 137px;
  }

  .u-section-3 .u-image-7 {
    width: 147px;
  }

  .u-section-3 .u-image-8 {
    width: 137px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 13px;
  }

  .u-section-3 .u-image-9 {
    width: 512px;
    margin-left: -12px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 93px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    width: 137px;
  }

  .u-section-3 .u-image-2 {
    width: 128px;
  }

  .u-section-3 .u-image-3 {
    width: 137px;
  }

  .u-section-3 .u-image-4 {
    width: 128px;
  }

  .u-section-3 .u-image-5 {
    width: 137px;
  }

  .u-section-3 .u-image-6 {
    width: 128px;
  }

  .u-section-3 .u-image-7 {
    width: 137px;
  }

  .u-section-3 .u-image-8 {
    width: 128px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 0;
  }

  .u-section-3 .u-image-9 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-right: 70px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 46px;
    margin-left: 9px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 115px;
  }

  .u-section-3 .u-image-2 {
    width: 108px;
  }

  .u-section-3 .u-image-3 {
    width: 115px;
  }

  .u-section-3 .u-image-4 {
    width: 108px;
  }

  .u-section-3 .u-image-5 {
    width: 115px;
  }

  .u-section-3 .u-image-6 {
    width: 108px;
  }

  .u-section-3 .u-image-7 {
    width: 115px;
  }

  .u-section-3 .u-image-8 {
    width: 108px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 6px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 44px;
    margin-left: 3px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 29px;
    margin-left: 3px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 3px;
  }
}.u-block-8474-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-8474-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -56px);
  width: 30px;
  height: 30px;
  top: auto;
  bottom: 196px;
}

.u-block-8474-4 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: auto;
  right: calc(((100% - 1140px) / 2)  + -56px);
  bottom: 196px;
}

@media (max-width: 1199px) {
  .u-block-8474-3 {
    left: calc(((100% - 940px) / 2)  + -46px);
  }

  .u-block-8474-4 {
    right: calc(((100% - 940px) / 2)  + -46px);
  }
}

@media (max-width: 991px) {
  .u-block-8474-3 {
    left: calc(((100% - 720px) / 2)  + -35px);
  }

  .u-block-8474-4 {
    right: calc(((100% - 720px) / 2)  + -35px);
  }
}

@media (max-width: 767px) {
  .u-block-8474-2 {
    width: 72px;
    height: 3px;
    top: auto;
    bottom: 20px;
  }

  .u-block-8474-3 {
    left: calc(((100% - 540px) / 2)  + -101px);
    margin-top: 125px;
    margin-left: 320px;
  }

  .u-block-8474-4 {
    right: calc(((100% - 540px) / 2)  + -101px);
  }
}

@media (max-width: 575px) {
  .u-block-8474-3 {
    left: calc(((100% - 340px) / 2)  + -141px);
  }

  .u-block-8474-4 {
    right: calc(((100% - 340px) / 2)  + -141px);
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-shape-1 {
  height: 417px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#f2f2f2, #d0d0d0);
  margin-left: 0;
}

.u-section-5 .u-sheet-1 {
  min-height: 833px;
  margin: -416px auto 0;
}

.u-section-5 .u-image-1 {
  width: 735px;
  height: 735px;
  background-image: url("images/pexelsphoto1298684.jpeg");
  background-position: 50% 50%;
  margin: 49px 0 0 auto;
}

.u-section-5 .u-group-1 {
  width: 404px;
  min-height: 422px;
  background-image: none;
  margin: -403px auto 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  margin: 40px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  margin: 20px auto 40px 0;
}

.u-section-5 .u-image-2 {
  width: 387px;
  height: 358px;
  margin: -674px auto 85px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-shape-1 {
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    width: 606px;
    height: 606px;
  }

  .u-section-5 .u-group-1 {
    width: 321px;
    margin-top: -548px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }

  .u-section-5 .u-btn-1 {
    position: relative;
  }

  .u-section-5 .u-image-2 {
    width: 319px;
    margin-top: -54px;
    margin-bottom: 0;
    margin-left: 75px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    width: 464px;
    height: 464px;
  }

  .u-section-5 .u-group-1 {
    width: 285px;
    margin-top: -405px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-image-2 {
    width: 372px;
    margin-top: -75px;
    margin-bottom: 20px;
    margin-left: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1163px;
  }

  .u-section-5 .u-image-1 {
    width: 435px;
    height: 435px;
    margin-top: 85px;
    margin-left: 52px;
  }

  .u-section-5 .u-group-1 {
    min-height: 278px;
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 30px;
  }

  .u-section-5 .u-image-2 {
    width: 406px;
    margin-top: -22px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-shape-1 {
    margin-top: 1px;
    margin-left: initial;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 1161px;
    margin-top: -417px;
  }

  .u-section-5 .u-image-1 {
    height: 340px;
    margin-top: 118px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-group-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -27px;
    margin-bottom: 24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.35), rgba(255,255,255,0.35)), url("images/pexelsphoto15337202.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 708px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 80px auto 80px 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/pexelsphoto1650732.jpeg");
  min-height: 568px;
  background-position: 50% 50%;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 568px;
}

.u-section-6 .u-container-layout-2 {
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  margin: 87px 0 0 90px;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 55px 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 16px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 74px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-2 {
    padding-right: 13px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 57px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-2 {
    padding-right: 9px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 43px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-2 {
    padding-right: 6px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 27px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
  }
}.u-section-7 {
  background-image: linear-gradient(#f2f2f2, #d0d0d0);
}

.u-section-7 .u-sheet-1 {
  min-height: 525px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 71px auto 131px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 324px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-7 .u-text-1 {
  margin: 20px 20px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 162px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 30px 51px 0 0;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 20px 0;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 324px;
}

.u-section-7 .u-image-1 {
  width: 395px;
  height: 437px;
  left: 175px;
  top: -164px;
}

.u-section-7 .u-image-2 {
  width: 337px;
  height: 337px;
  background-image: url("images/pexelsphoto15491801.jpeg");
  background-position: 50% 50%;
  margin: 79px auto -92px -182px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 75px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 134px;
  }

  .u-section-7 .u-text-3 {
    position: relative;
    margin-right: 42px;
  }

  .u-section-7 .u-image-1 {
    width: 326px;
    position: absolute;
  }

  .u-section-7 .u-image-2 {
    width: 278px;
    height: 278px;
    margin-left: -150px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 102px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 32px;
  }

  .u-section-7 .u-image-1 {
    width: 249px;
  }

  .u-section-7 .u-image-2 {
    width: 213px;
    height: 213px;
    margin-left: -115px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 77px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 24px;
  }

  .u-section-7 .u-image-1 {
    width: 234px;
  }

  .u-section-7 .u-image-2 {
    width: 200px;
    height: 200px;
    margin-top: 53px;
    margin-bottom: 30px;
    margin-left: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 48px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 15px;
  }

  .u-section-7 .u-image-1 {
    width: 196px;
    height: 264px;
  }

  .u-section-7 .u-image-2 {
    width: 168px;
    height: 168px;
    margin-top: 142px;
    margin-bottom: 15px;
    margin-left: 20px;
  }
}