.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/team-2444978_1920.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 780px;
}

.u-section-1 .u-group-1 {
  width: 878px;
  min-height: 679px;
  margin: 101px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px 0;
}

.u-section-1 .u-text-1 {
  margin: 152px 169px 0 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 22px 0 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 131px;
  animation-duration: 1000ms;
  margin: 111px 250px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-1 .u-group-1 {
    width: 900px;
    min-height: 721px;
    margin-top: 31px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 219px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 100px;
    height: auto;
    width: 780px;
    margin-top: 95px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 98px;
    min-height: 653px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 106px;
    margin-right: 49px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 33px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 660px;
    margin-top: 98px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 85px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 32px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 520px;
    margin-top: 68px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-1 .u-group-1 {
    min-height: 406px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-right: -18px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1.125rem;
    margin-top: 35px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 320px;
    margin-top: 47px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 561px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 499px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 766px;
  margin: -353px 30px 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 464px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-group-1 {
  width: 537px;
  min-height: 374px;
  background-image: none;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px 30px 35px;
}

.u-section-2 .u-text-1 {
  margin: 61px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 8px 0 0;
}

.u-section-2 .u-image-2 {
  width: 127px;
  height: 127px;
  background-image: url("images/hires.jpg");
  background-position: 50% 50%;
  animation-duration: 2000ms;
  margin: -424px auto 0 154px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 411px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 495px;
    margin-top: -265px;
    margin-right: auto;
    margin-left: 202px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 445px;
  }

  .u-section-2 .u-group-1 {
    width: 443px;
    min-height: 355px;
    margin-top: 0;
    margin-right: -8px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 121px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -79px;
    margin-left: 123px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 315px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 479px;
    margin-top: -169px;
    margin-right: 107px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 399px;
  }

  .u-section-2 .u-group-1 {
    width: 416px;
    margin-top: 13px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -92px;
    margin-left: 101px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 450px;
    margin-top: -90px;
    margin-right: 0;
    margin-left: 45px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 341px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 390px;
    min-height: 279px;
    margin-top: -46px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -9px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 5px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -118px;
    margin-right: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-2 .u-image-1 {
    width: 217px;
    height: 217px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -3px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-2 .u-group-1 {
    width: 302px;
    min-height: 332px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -157px;
    margin-right: auto;
    margin-left: -10px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/soccer-field-4321814_1920.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 515px;
}

.u-section-3 .u-slider-1 {
  min-height: 431px;
  width: 893px;
  margin: 42px auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 24px auto 0 124px;
}

.u-section-3 .u-text-1 {
  font-style: italic;
  margin: -50px 340px 0 212px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  background-image: none;
  margin: 38px 0 0;
}

.u-section-3 .u-btn-1 {
  margin-top: 196px;
  padding: 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 35px;
  height: 35px;
}

.u-section-3 .u-carousel-control-2 {
  width: 35px;
  height: 35px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 124px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 18px;
    margin-left: 52px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -50px;
    margin-right: 18px;
    margin-left: 130px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-3 .u-slider-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 20px;
    margin-left: 67px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -46px;
    margin-right: -19px;
    margin-left: 143px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 507px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 0;
    margin-left: 24px;
  }

  .u-section-3 .u-text-1 {
    margin-right: -51px;
    margin-left: 98px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 18px;
  }
}